*{
  margin: 0px;
  padding: 0px;
}

.App{
  background-color: red;
  background: url(https://ssl.tzoo-img.com/images/tzoo.98779.0.844340.new-york.jpg?width=1279) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}